{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="card-body">
        <h4>Hamma mahsulotlar</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Mahsulot nomi</th>
                    <th scope="col">Qolgan soni</th>
                    <th scope="col">Yaratilgan tomonidan</th>
                    <th scope="col">Yaratilgan sanasi</th>
                    <th scope="col">Boshlang`ich soni</th>
                    <th scope="col">Yangilash</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.created_by}}</td>
                    <td>{{item.created_date}}</td>
                    <td>{{item.initial_amount}}</td>
                    <td><a href="{% url 'update-item' item.pk %}">Yanglish</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}