{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="card-body">
        <h4>Mahsulotlar muammosi tarixi</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Mahsulot nomi</th>
                    <th scope="col">Chiqarilgan miqdor</th>
                    <th scope="col">Berilgan tomonidan</th>
                    <th scope="col">Chiqarilgan miqdor</th>
                    <th scope="col">Muassa</th>
                    <th scope="col">Muammo berilgan sanasi</th>
                    <th scope="col">Qaytarilgan sanasi</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{item.item}}</td>
                    <td>{{item.issued_amount}}</td>
                    <td>{{item.issued_by}}</td>
                    <td>{{item.issued_to}}</td>
                    <td>{{item.department}}</td>
                    <td>{{item.issued_date}}</td>
                    <td>{{item.return_date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}