{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="card-body">
        <h4>To`ldirilgan mahsulotlar tarixi</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Mahsulot nomi</th>
                    <th scope="col">Soni</th>
                    <th scope="col">To`ldirilgan sanasi</th>
                    <th scope="col">Mahsulotlarni to`ldirish</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{item.item}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.timestamp}}</td>
                    <td>{{item.initial_value}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}