{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="card-body">
        <h4>Qaytarilgan mahsulotlar tarixi</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Mahsulot nomi</th>
                    <th scope="col">Qaytarildi tomonidan </th>
                    <th scope="col">Qaytarilgan sana</th>
                    <th scope="col">Qaytarilgan soni</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{item.item}}</td>
                    <td>{{item.returned_by}}</td>
                    <td>{{item.returned_date}}</td>
                    <td>{{item.returned_amount}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}